body
{
	background-color: #FFFFCC;
	background-image: url(silk.jpg);
}
.jumbotron
{
	margin: 0 auto;
	padding-top: 0px;
	width: 95%;
	padding-left:2rem;
	border-radius: 10px;
	border: solid;
	border-width: 1px;
	padding-top: 10px;
}
 h1 
{
	text-align: center;
    font-size: 10em;
    padding-top: 0px;
}
p 
{
    font-size: 1.2em;
}
/*#button
{
    padding: .5em;
}*/
#schedule
{
	margin-left: 105%;
	margin-top: -5rem;
}
.navbar-header
{
	height:80px;
}
#logo
{
	height:50px;
	border-radius: 3px;
}
#contact
{
	padding-top:200px;
}
#services
{
	padding-left: 5vw;
	padding-top: 3vw;
	color: white;
	font-size: 1.7em;
}
#about
{
	padding-left: 3vw;
	padding-top: 3vw;
	color: #A0A0A0;
	font-size: 1.7em;
}
#findus
{
	padding-left: 3vw;
	padding-top: 3vw;
	color: #A0A0A0;
	font-size: 1.7em;
}
#about:hover
{
	color: white;
}
#findus:hover
{
	color: white;
}
#contact
{
	text-align: center;
	margin-left: 60rem;
	margin-top: -26rem;
}
#hours
{
	text-align: center;
	margin-top: 1rem;
}
#address
{
	text-align: center;
	margin-right: 60rem;
	margin-top: -8rem;
}
#guy
{
	margin-top: -190rem;
	margin-left: 75%;
	height: 25rem;
	width: 20rem;
	border-radius: 20px;
}